/**
 * @file
 * CSS for the choose block page.
 */

a.panopoly-admin-show-hidden-blocks-link,
#drupal-off-canvas a.panopoly-admin-show-hidden-blocks-link {
  display: block;
  text-align: center;
  margin: 1em 0;
  border: 0;
}
